In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
df = pd.read_csv('data/KaggleV2-May-2016.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [3]:
len(df['AppointmentID'].unique())

110527

In [4]:
df['PatientId'] = df['PatientId'].astype('int').astype('str')

In [5]:
df['PatientId'].duplicated().value_counts()

False    62299
True     48228
Name: PatientId, dtype: int64

In [6]:
pID = list(df['PatientId'].unique())
test_pID = random.sample(pID, 17000)
train_pID = set(pID) - set(test_pID)

In [7]:
train_df = df[df['PatientId'].isin(train_pID)]
test_df = df[df['PatientId'].isin(test_pID)]

In [8]:
print(len(test_df), len(train_df))

30021 80506

In [9]:
train_df.loc[:,'No-show'] = train_df['No-show'].apply(lambda x: 0 if x=='No' else 1)

/Users/tanigakitatsuya/.pyenv/versions/3.5.1/lib/python3.5/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
test_df.loc[:,'No-show'] = test_df['No-show'].apply(lambda x: 0 if x=='No' else 1)

/Users/tanigakitatsuya/.pyenv/versions/3.5.1/lib/python3.5/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
answer_df = test_df[['AppointmentID', 'No-show']]
answer_df.head()

   AppointmentID  No-show
0        5642903        0
6        5630279        1
7        5630575        1
8        5638447        0
9        5629123        0

In [12]:
test_df2 = test_df.drop('No-show', axis=1)

In [13]:
#answer_df.to_csv('answer_files/answer.csv', index=False)
#test_df2.to_csv('data/test_data.csv', index=False)
#train_df.to_csv('data/train_data.csv', index=False)

In [14]:
(df['PatientId'].value_counts() > 2).sum()

10484