In [1]:
import pandas as pd

In [5]:
adf = pd.read_csv('answer_files/answer.csv')
adf.head()

   AppointmentID  No-show
0        5642903        0
1        5626772        0
2        5630279        1
3        5630213        0
4        5626083        1

In [6]:
pdf = pd.read_csv('answer_files/predict.csv')
pdf = pdf.rename(columns={'No-show': 'No-show-pre'})
pdf.head()

   AppointmentID  No-show-pre
0        5642903          NaN
1        5626772          NaN
2        5630279          NaN
3        5630213          NaN
4        5626083          NaN

In [24]:
len(adf)

30000

In [10]:
df = pd.merge(adf, pdf, on='AppointmentID')
df.head()

   AppointmentID  No-show  No-show-pre
0        5663188        0            0
1        5689487        0            0
2        5717961        0            0
3        5719418        0            0
4        5663665        0            0

In [16]:
len(df.index)

30000

In [14]:
len(df[df['No-show'] == df['No-show-pre']]) / len(df) * 100

100.0